<html>
  <body>
    <h1>hello</h1>
    <script>
      //데이터를 가져올 URL을 작성한다.
      const eventSource = new EventSource('http://localhost:4000/sse-connection', { withCredentials: false });

      //브라우저가 SSE지원하는지 체크
      if (typeof EventSource !== 'undefined') {
        console.log('sse지원');
      } else {
        console.log('sse미지원');
      }

      // 서버와 커넥션이 맺어질 때 동작한다
      eventSource.addEventListener('open', function (e) {
        console.log(`connection is open`);
      });

      // 서버에서 데이터를 보낼 때 event없이 보내면 동작한다
      eventSource.addEventListener('message', function (e) {
        console.log(event.data);
      });

      // 서버에서 데이터를 보낼 때 event를 red로 설정해서 보낼 때 동작한다
      eventSource.addEventListener('red', (event) => {
        const data = JSON.parse(event.data);
        console.log(`red : ${data.message}`);
      });

      // 서버에서 데이터를 보낼 때 event를 blue로 설정해서 보낼 때 동작한다
      eventSource.addEventListener('blue', (event) => {
        const data = JSON.parse(event.data);
        console.log(`blue : ${data.message}`);
      });

      // 에러 발생 시 동작한다.
      eventSource.addEventListener(
        'error',
        function (e) {
          if (e.eventPhase == EventSource.CLOSED) {
            eventSource.close();
          }
          if (e.target.readyState == EventSource.CLOSED) {
            console.log('Disconnected');
          } else if (e.target.readyState == EventSource.CONNECTING) {
            console.log('Connecting...');
          }
        },
        false
      );
    </script>
  </body>
</html>
